.approved {
  width: 150px;
  height: 38px;
  border: 1px solid #70821fc2;
  border-radius: 10px;
  background-color: #a3b165;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
  position: absolute;
  right: 45px;
  bottom: 5px;
  color: #2c3115;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pending {
  width: 150px;
  height: 38px;
  border: 1px solid #d29e7b;
  border-radius: 10px;
  background-color: #e1d97d;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  right: 45px;
  bottom: 5px;
  color: #2c3115;
  display: flex;
  align-items: center;
  justify-content: center;
}