.approve {
  width: 175px;
  height: 40px;
  border: #4f603a 1px solid;
  border-radius: 10px;
  background-color: #7bab6f;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
  position: absolute;
  right: 45px;
  bottom: 5px;
}

.approve:hover {
  background-color: rgba(75, 100, 70, 0.934) !important;
  transition: background-color 0.2s;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.deny {
  width: 175px;
  height: 40px;
  border: 1px solid rgb(209, 104, 72);
  border-radius: 10px;
  background-color: rgba(184, 105, 69, 0.959);
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
  position: absolute;
  right: 245px;
  bottom: 5px;
}

.deny:hover {
  background-color: rgba(108, 2, 2, 0.934) !important;
  transition: background-color 0.2s;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#none-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}