.delete {
  border: 1px solid rgb(120, 55, 44);
  border-radius: 10px;
  background-color: rgba(184, 105, 69, 0.959);
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
  position: absolute;
  right: 45px;
  bottom: 5px;
}

.delete:hover { 
  background-color: rgba(108, 2, 2, 0.934) !important;
  transition: background-color 0.2s;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
