.confirm-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.confirm-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #555665;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
    background-color: #d8beb1;
    color: #721c24;
    border: 1px solid #721c24;
}

.confirm-modal-buttons {
    margin-top: 20px;
}

.confirm-modal-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#confirm-delete-btn {
    background-color: #cf6e6e;
    color: white;
}

#cancel-btn {
    background-color: #555665;
    color: white;
}

#confirm-delete-btn:hover {
    background-color: #6e1821 !important;
}

#cancel-btn:hover {
    background-color: #32373a !important;
}