@font-face {
  font-family: "soopafresh";
  src: url(/static/fonts/soopafre.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  height: 100%;
  background-image: url('/static/images/cornfield.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden !important;
  width: 100%;
}

button:hover {
  background-color: #4f603a !important;
  transition: background-color 0.2s;
}

#cotj {
  font-size: 25px;
  color: #2c3115;
  font-family: "soopafresh", sans-serif;
}

#logo {
  width: 70%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

#main-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgba(202, 191, 128, 0.85); 
  margin-left: 270px;
  width: calc(100% - 270px);
  transition: all 0.4s ease;
  min-height: 100vh;
  
}

.sidebar.collapsed~#main-page {
  margin-left: 85px;
  width: calc(100% - 85px);
}


#searchbar-holder {
  background-image: linear-gradient(to right,
      rgb(87, 130, 87),
      rgba(123, 185, 103, 0.824));
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  padding: 0 20px;
  gap: 20px;
}

.search-input-container {
  display: flex;
  align-items: center;
  height: 44px;
  flex-grow: 1;
  max-width: 600px;
  background-image: linear-gradient(to right, rgb(173, 202, 152), rgb(239, 226, 155));
  border: 3px solid #43621a;
  border-radius: 15px;
  padding: 0 15px;
}

.search-input-container i {
  margin-right: 10px;
}

#searchbar {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: medium;
}

#searchbar::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.566);
}

.search-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

#sort-select,
#filter-select,
#search-button {
  height: 44px;
  border: 3px solid #43621a;
  border-radius: 10px;
  background-color: #c0db9a;
  color: #2c3115;
  font-weight: bold;
  cursor: pointer;
  padding: 0 15px;
}

#search-button:hover {
  background-color: #394e22 !important;
  color: white;
}

#lots-of-postings {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.postings:first-child {
  margin-top: 25px;
}

.postings:last-child {
  margin-bottom: 25px;
}

.postings {
  margin-top: 10px;
  display: flex;
  background-image: linear-gradient(to right,
      rgb(239, 226, 155),
      rgb(173, 202, 152));
  border: rgb(87, 130, 87) solid 3px;
  width: 100%;
  max-width: 850px;
  height: 280px;
  border-radius: 15px;
  padding: 10px;
  position: relative;
}

.company-info {
  max-width: 100px;
  margin-right: 10px;
  color: #2c3115;
}

.company-pic {
  width: 100px;
  height: 100px;
}

.apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 150px;
  height: 38px;
  border: 3px solid #43621a;
  border-radius: 10px;
  background-color: #89ab6f;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
  position: absolute;
  right: 45px;
  bottom: 5px;
  color: #2c3115;
  transition: all 0.2s ease;
  text-align: center;
}

.apply:hover {
  background-color: #394e22 !important;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.job-desc {
  overflow-y: auto;
  font-size: large;
  color: #2c3115;
}

.job-title {
  font-size: larger;
  font-weight: bold;
  color: #2c3115;
}

.company-name {
  font-size: large;
  font-weight: bold;
  color: #2c3115;
}

/*.job-footer {
  margin-top: 10px;
  padding: 8px;
  background-color: #ffff;
  border-top: 1px solid #ccc;
  font-size: 14px;
  color: #333
  justify-content: space-between;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 270px;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  border-radius: 0 16px 16px 0;
  border: 2px solid #70821f;
  border-left: none;
  background: linear-gradient(to bottom,
      rgb(87, 130, 87),
      rgb(210, 215, 140));
  height: 100vh;
  transition: width 0.4s ease;
  overflow-x: hidden;
  z-index: 100;
}

.sidebar.collapsed {
  width: 85px;
  overflow-x: hidden;
}

.sidebar, .sidebar.collapsed {
  max-width: 100vw;
  overflow-x: hidden;
}

.sidebar.collapsed .nav-tooltip {
  display: block;
}

.sidebar.collapsed .header-logo {
  display: none;
}

.sidebar.collapsed .sidebar-brand {
  flex-grow: 0;
}

.sidebar-header {
  position: relative;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  transition: all 0.4s ease;
  justify-content: center;
}

.sidebar-brand {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: bold;
  font-size: 17px;
  color: #2c3115;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  max-width: calc(100% - 45px);
}

.sidebar-brand .nav-label {
  max-width: 150px;
  transition: opacity 0.3s ease, max-width 0.4s ease;
}

.sidebar.collapsed .sidebar-brand .nav-label {
  max-width: 0;
  opacity: 0;
}

.sidebar-header .header-logo img {
  min-width: 40px;
  height: 40px;
  display: block;
  object-fit: contain;
}

.sidebar-header .toggler {
  height: 35px;
  width: 35px;
  border-width: 10;
  border: 2px solid #43621a;
  color: #151A2D;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  background: rgb(245, 228, 135);
  transition: 0.4s ease;
  flex-shrink: 0;
}

.sidebar-header .sidebar-toggler {
  position: relative;
}

.sidebar-header .toggler:hover {
  background: rgb(245, 228, 135);
}

.sidebar-header .menu-toggler {
  display: none;
}

.sidebar-header .sidebar-toggler span {
  font-size: 1.75rem;
  transition: transform 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler span {
  transform: rotate(180deg);
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}

.sidebar-nav .nav-link {
  color: rgb(40, 69, 48);
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  align-items: center;
  padding: 12px 15px;
  text-decoration: none;
  transition: 0.4s ease;
  overflow: hidden;
}

.sidebar-nav .nav-link .nav-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-nav .nav-link:hover {
  color: #151A2D;
  background: rgb(244, 229, 146);
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}

.sidebar-nav .nav-item {
  position: relative;
}

.sidebar-nav .nav-tooltip {
  position: absolute;
  top: -10px;
  opacity: 0;
  display: none;
  pointer-events: none;
  left: calc(100% + 25px);
  color: rgb(40, 69, 48);
  padding: 6px 12px;
  border-radius: 8px;
  background: rgb(245, 228, 135);
  white-space: nowrap;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  z-index: 1000;
}

.sidebar.nav .sidebar-nav .nav-tooltip {
  display: block;
}

.sidebar-collapsed .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  display: block;
  transform: translateY(50%);
  transition: 0.4s ease;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-y: hidden;
  justify-content: space-between;
}

.primary-nav {
  flex-grow: 1;
  overflow: hidden;
  padding: 0 15px;
  min-height: 0;
}

.secondary-nav {
  flex-shrink: 0;
  padding-bottom: 10px;
  background: inherit;
}

.sidebar-nav .primary-nav {
  flex-grow: 1;
}

.sidebar-nav .secondary-nav {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebar.collapsed .sidebar-brand .nav-label, .sidebar.collapsed .nav-link .nav-label {
  max-width: 0;
  opacity: 0;
  pointer-events: none;
}

.flashes {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    list-style: none;
}

.flashes .success {
    background-color: #9fc588;
    color: #2b4129;
    border: 2px solid #2b4129;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.flashes .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.save-button {
  width: 120px;
  height: 38px;
  border: 3px solid #43621a;
  border-radius: 10px;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  position: absolute;
  right: 215px;
  bottom: 15px;
  color: #2c3115;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.save-button:hover {
  background-color: #61794e !important;
}

.save-button.saved {
  background-color: #cccc6c;
  border-color: #7f8438;
  color: #434619;
}

.save-button.saved:hover {
  background-color: #918c49 !important;
}

.save-button .material-symbols-rounded {
  font-size: 24px;
}

/*collapse sidebar on smaller devices*/

  @media (max-width: 1024px) {
  .sidebar {
    width: 85px;
  }

  .sidebar .nav-label {
    max-width: 0;
    opacity: 0;
    pointer-events: none;
  }

  #main-page {
    margin-left: 85px;
    width: calc(100% - 85px);
  }
}


/* rest of the mobile styles... */