<!DOCTYPE html>
<html>

<head>
    <title>Corn on the Job</title>
    {% include "common_head.html" %}

    <link href="/static/student/studenthome.css" rel="stylesheet">
    <link href="/static/admin/adminapprove.css" rel="stylesheet">
</head>

<body>
    {% from "sidebar.html" import search_bar %}
    {% include "sidebar.html" %}

    <div id="main-page">

        {{ search_bar(search_type='simple', query=query) }}

        <div id="lots-of-postings">

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flashes">
                {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            {% for list in data %}
            <div class="postings">
                <div class="company-info">
                    <img src="/static/images/{{list[4]}}" class="company-pic">
                    <p class="company-name">{{list[3]}}</p>
                </div>

                <div class="job-info">
                    <p class="job-title">{{list[1]}}</p>
                    <p class="job-desc">{{list[2]}}</p>

                    <form class="deny-post" action="/admin/deny" method="POST" onsubmit="return confirmDeletion()">
                        <button class="deny">Deny posting</button>
                        <input type="hidden" name="deny-id" value="{{list[0]}}">
                    </form>

                    <form class="approve-post" action="/admin/approve" method="POST" onsubmit="return jobApproved()">
                        <button class="approve">Approve posting</button>
                        <input type="hidden" name="approve-id" value="{{list[0]}}">
                    </form>

                </div>
            </div>
            {% endfor %}

            {% if not data %}
            <p id="none-text">No jobs to review!</p>
            {% endif %}
        </div>

    </div>


</body>
<script src="/static/student/studenthome.js"></script>

</html>