<!DOCTYPE html>
<html>

<head>
    <title>Corn on the Job</title>
    {% include "common_head.html" %}

    <link href="/static/student/studenthome.css" rel="stylesheet">
    <link href="/static/employer/employermypostings.css" rel="stylesheet">
</head>

<body>
    {% from "sidebar.html" import search_bar %}
    {% include "sidebar.html" %}

    <div id="main-page">

        {{ search_bar(search_type='filter', query=query, filter=filter) }}

        <div id="lots-of-postings">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flashes">
                {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            {% for list in data %}
            <div class="postings">
                <div class="company-info">
                    <img src="/static/images/{{list[4]}}" class="company-pic">
                    <p class="company-name">{{list[3]}}</p>
                </div>

                <div class="job-info">
                    <p class="job-title">{{list[1]}}</p>
                    <p class="job-desc">{{list[2]}}</p>

                    {% if list[5] == 1 %}
                    <p class="approved">Approved</p>
                    {% else %}
                    <p class="pending">Pending Review</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

    </div>


</body>
<script src="/static/student/studenthome.js"></script>

</html>