<!DOCTYPE html>
<html>

<head>
    <title>Corn on the Job</title>

    {% include "common_head.html" %}
    <link href="/static/student/studenthome.css" rel="stylesheet">
</head>

<body>
    {% from "sidebar.html" import search_bar %}
    {% include "sidebar.html" %}

    <div id="main-page">

        {{ search_bar(search_type='sort', query=query, sort=sort, action='/student') }}

        <div id="lots-of-postings">
            {% for list in data %}
            <div class="postings">
                <div class="company-info"> <img src="/static/images/{{list[4]}}" class="company-pic">
                    <p class="company-name">{{list[3]}}</p>
                </div>

                <div class="job-info">
                    <p class="job-title">{{list[1]}}</p>
                    <p class="job-desc">{{list[2]}}</p>

                    <button class="apply" onclick="window.location = '/student/apply/{{list[0]}}'">Apply</button>

                    {% if list[0] in saved_job_ids %}
                    <button class="save-button saved" data-job-id="{{ list[0] }}">
                        <span class="material-symbols-rounded">star</span>
                        Saved
                    </button>
                    {% else %}
                    <button class="save-button" data-job-id="{{ list[0] }}">
                        <span class="material-symbols-rounded">star_outline</span>
                        Save
                    </button>
                    {% endif %}
                    </div>

            </div>
            {% endfor %}
        </div>
    </div>

</body>
<script src="/static/student/studenthome.js"></script>

</html>