<!DOCTYPE html>
<html>

<head>
    <title>Corn on the Job</title>
    {% include "common_head.html" %}

    <link href="/static/student/studentapply.css" rel="stylesheet">
</head>

<body>
    {% include "sidebar.html" %}


    <div id="main-page">
        <form id="application" action="/student/apply/submit/{{data[0]}}" method="POST" enctype="multipart/form-data">
            <div id="job-title">You are applying for {{data[1]}} at {{data[3]}}</div>

            <textarea id="applicant-exp" name="applicant_experience"
                placeholder="Enter a brief description of your job experience here that may summarize your resume"></textarea>

            <div id="application-info">
                <button type="button" id="resume-upload">Upload resume here</button>
                <input type="file" id="resume-file" name="resume"
                    accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf">
                <div id="contact-info">
                    <input type="tel" id="phone-number" name="phone_number" placeholder="Enter phone number"
                        autocomplete="off">
                    <input type="email" id="email" name="email" placeholder="Enter email" autocomplete="off">
                </div>
            </div>

            <button type="submit" id="submit">Submit application</button>

        </form>
    </div>

</body>
<script src="/static/student/studenthome.js"></script>
<script src="/static/student/studentapply.js"></script>

</html>